@using Parcel.Models;
<h1> Your Parcel.</h1>

<p>Size: @Model.GetWidth() X @Model.GetHeight() X @Model.GetLength()</p>
<p>Volume: @Model.Volume()</p>
<p>Cost to Ship: @Model.CostToShip()</p>

<a href="/parcels/new">Create a new parcel.</a>
